/* Empty. Add your own CSS if you like */

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
  color: #fff;
}

ion-tabs.tabs-color-active-positive .tab-item{
  color: #fff;
}
